/*




.result {
  padding: 20px;
  font-size: .95em;
  margin-top: 35px;

  &__title {
    font-weight: bolder;
  }

  &__content {
    margin: 20px 0 0px 0;
  }

  &__url {
    font-weight: lighter;
    margin-top: 10px;
    color: #1f4f92;
  }

  &:hover {
    background-color: #ffe4c491;
    cursor: pointer;
  }
}

.tagList {
  .ais-Menu__item.ais-Menu__itemSelected {
    background-color: #e92436;
    font-weight: normal;
  }
  .ais-Menu__item + .ais-Menu__item {
    margin-left: 10px;
    text-transform: capitalize;

  }
  .ais-Menu__itemCount {
    display: none;
  }
  .ais-Menu__root {
    max-width: inherit;
    width: 100%;
  }

  .ais-Menu__item {
    display: inline-block;
    width: auto;
    background-color: #1f4f92;
    padding: 5px 20px;
    border-radius: 8px;
  }

  .ais-Menu__items {
    text-align: center;
    // margin: 0 0 50px 0px;
    line-height: 46px;
  }
  .ais-Menu__itemLabel {
    color: white;
  }
}

.pdf-section .ais-Hits__root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  padding: 50px 0 0 0px;

  &:empty {
    padding: 0;
  }
}

.pdf-hit {
  padding: 20px;
  background-color: rgba(31, 79, 146, 0.09);

  &:hover {
    background-color: rgba(31, 79, 146, 0.23);
    cursor: pointer;
  }
}


*/
