/****** CSS FOR ALGOLIA *******/

.ais-Menu-label {
    font-family: 'VinciSansRegular', 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

.ais-Hits-list > div {
    height: -webkit-calc(99% - 10px); /* pour Chrome */
    height: -moz-calc(99% - 10px); /* pour Firefox */
    height: calc(99% - 10px);
    width: -webkit-calc(99% - 10px); /* pour Chrome */
    width: -moz-calc(99% - 10px); /* pour Firefox */
    width: calc(99% - 10px);
    background-color: #b93c2f;
    margin: 3px;
}

ul.ais-Hits-list li:first-child {
    margin-top: 0;
}

.ais-Hits-item {
    width: -webkit-calc(99% - 10px); /* pour Chrome */
    width: -moz-calc(99% - 10px); /* pour Firefox */
    width: calc(99% - 10px);
    border: 0px solid #c4c8d8;
    box-shadow: 0 0 0 0 #e3e5ec;;
    padding: 0;
    margin: 0;
}

.ais-SearchBox-input {
    border: 1px solid #3C3C3B;
    border-radius: 0px;
    width: 220px !important;
    padding: 2px 10px !important;
    font-size: 1rem !important;
    font-family: 'VinciSansRegular' !important;
}

.ais-SearchBox-input-from-menu {

    width: auto !important;
    border: 1px solid #3C3C3B;
    padding: 2px 10px !important;
    font-size: 1rem !important;
    font-family: 'VinciSansRegular' !important;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-top: 1px;
    background: white;
}

.ais-Menu-searchBox-from-menu {
    padding: 0 10px 6px 10px !important;
    line-height: 1.5em !important;
    color: #3C3C3B !important;
    background: #EDEDED !important;
}

.ais-SearchBox-submitIcon {
    width: 0px;
    height: 0px;
}

.ais-Stats-text {
    color: black;
    font-family: 'VinciSansRegular', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.title-result {
    color: #0000cc;
    font-family: 'VinciSansRegular', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    padding-top: 0rem;
    padding-bottom: 1rem;
    font-size: 1.125rem;
    text-align: left;
}

.ais-Highlight-nonHighlighted {
    color: #0000cc;
    font-family: 'VinciSansRegular', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    margin-top: 0;
    margin-bottom: 0px;
}

.ais-Snippet-nonHighlighted {
    font-size: 18px;
    color: black;
}

.algolia-article-result {
    text-align: left;
    margin-left: 8px;
}

.algolia-content-result {
    width: calc(70% - 10px);
    padding-bottom: 1rem;
    padding-top: 1rem;
}

span.ais-Menu-showMore-customized {
    margin-top: .5rem;
    background: transparent url("https://www.vinci.com/search/more.gif") no-repeat scroll 0 0;
    height: 15px;
    margin-right: 1px;
    overflow: hidden;
    position: relative;
    vertical-align: text-bottom;
    width: 15px;
    display: inline-block;
}

.ais-Menu-label {
    color: #3C3C3B !important;
    font-size: 0.917rem !important;
}

a.ais-Menu-link:visited {
    color: #1111CC;
}

.ais-Menu-link {
    line-height: 1.1em !important;
}

li.ais-Menu-item {
    padding: 6px 10px !important;
    line-height: 1.1em !important;
    font-size: 18px;
}

.ais-Menu-list {
    line-height: 0;
}

.algolia-SortBy-separator {
    padding-right: 4px;
    font-size: 18px;
}

a.algolia-SortBy-link-selected {
    color: #000;
    cursor: auto;
    font-size: 18px;
}

a.algolia-SortBy-link {
    color: #004489;
    font-size: 18px;
}

a.algolia-SortBy-link:hover {
    text-decoration: underline;
    transition: 0.5s;
}

.ais-Pagination-list {
    padding: 1em 0 !important;
    border-top: 1px solid #c6c6c6 !important;
}

.ais-Pagination-item--selected .ais-Pagination-link {
    background-color: #c6c6c6;
    color: #3C3C3B !important;
    transition: 0.5s;
    text-decoration: none !important;
    font-family: 'VinciSansBold' !important;
    font-weight: normal !important;
    font-size: 10pt;
    padding: 4px 10px;
    margin: 0 5px;
    border: 1px solid #3C3C3B;
    border-radius: 2px;
}

.ais-Pagination-link {
    padding: 4px 10px;
    border: 1px solid #3C3C3B;
    font-family: 'VinciSansBold' !important;
    font-weight: normal !important;
    font-size: 10pt;
    background: #3C3C3B;
    color: #fff !important;
    border-radius: 2px;
    margin: 0 5px;
}

.ais-Hits {
    position: relative;
    top: -27px;
}

.ais-Stats {
    font-size: 18px;
    text-align: start;
    position: relative;
    max-width: 250px !important;
}

.ais-Highlight-highlighted, .ais-Snippet-highlighted {
    font-size: 18px;
}
