/**** mobile  ***/
@media only screen and (max-width: 900px) {
    main {
        padding-top: 69px;
    }

    .text, .sharing, footer {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        border-bottom: solid 1px #ccc;
        position: fixed;
        display: block;
        left: auto;
        right: auto;
        top: 0;
        width: 100%;
        z-index: 3;
        max-height: 100%;
        background: #fff;
        box-sizing: border-box;
    }

    .logo-mobile {
        display: block;
        border-bottom: solid thin #EDEDED;
        background: rgba(255, 255, 255, 1);
        margin-left: auto;
        margin-right: auto;
        text-align: right;
        padding: 5px 0 0 0;
    }

    .nav-toggle {
        width: 69px;
        height: 69px;
        float: left;
        margin-top: -70px;
        text-indent: -9999px;
        overflow: hidden;
        background: #706f70 url('../hamburger.png') no-repeat 50% 50%;
        background-image: url("../hamburger.png");
        background-size: auto auto;
    }

    .nav-collapse {
        clip: rect(0 0 0 0);
        max-height: 0;
        display: block;
        overflow: auto;
    }

    .header-wrapper-mobile {
        display: block;
        background: #fff;
    }

    .header-mobile {
        height: auto;
        padding: 1% 0;
        border-bottom: solid 1px #ccc;
        text-align: left;
        font-size: 1.125rem;
        width: 100%;
    }

    .header-mobile div {
        height: 2.5rem;
        line-height: 2.5rem;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
    }

    .langues {
        margin-right: 0;
        width: auto;
        padding-left: 1rem;
    }

    .search {
        padding-left: 1rem;
        padding: 0 20px;
        margin-bottom: -2px;
    }

    .bourse_mobile {
        display: block;
        height: 3rem;
        line-height: 3rem;
        padding-left: 20px;
    }

    .bourse, .bourse .b_cotation {
        font-size: 1.25rem !important;
    }

    #ContainerHitsAndCategories {
        position: relative;
        width: 100%;
    }

    #ContainerHitsAndCategories > div {

    }

    #ContainerCategories {

    }

    #container-main-searchbox {
        margin: 0;
    }

    .ais-Stats {
        margin: 0.2rem 1rem;
    }

    .header-all-categories {
        padding: 4px 10px !important;
    }

    #magnifier  {
        position: relative;
        top: 5px;
        left: 5px;
    }

    #root-left-block, #root-right-block {
        display:none;
    }

    #NoResultsBlock {
        margin-top: 1rem;
    }

    .header_text * {
        padding:0 1.25rem;
    }

    #container-stats-sortby {
        margin: 2.4rem 0 36px 0;
    }

    .ais-Stats {
        top: -65px;
    }

    ul.one-category {
        margin: 0px 0 4px 0;
    }

    .ais-Hits-list {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-left: 0rem;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 901px) {
    .top-menu-bar, .logo_mobile {
        display: none;
    }
}

@media only screen and (max-width: 1199px) {
   /* NE PAS REPRENDRE
        main div {
        max-width: 100% !important;
    }  */
}

@media print {
    header {
        display: none
    }
}

/**********/
/* RETINA */
/**********/
@media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and  (-webkit-min-device-pixel-ratio: 2) {
    .nav-toggle {
        background-image: url("../hamburger-retina.png");
        background-size: 100px 100px
    }
}

@media only screen and (max-width: 1200px) {
    footer {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .text, .sharing, footer {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px)  {
    #dyn_nav {
        text-align: center;
            }
}
